telegram_token: "{{ prometheus_telegram_bot_token }}"
time_zone: "Europe/Berlin"
split_token: "|"

# ONLY IF YOU USING DATA FORMATTING FUNCTION, NOTE for developer: important or test fail
time_outdata: "2006-01-02 15:04:05"
split_msg_byte: 4000
