#!/usr/bin/env bash
filename=`mktemp -t mail-XXXXXXXX.txt`
id="$RANDOM"
subject="Test $id"

fail() {
	echo "$1" > /dev/stderr
	exit 1
}

search_for_subject() {
	search_subject="$1"
	search_folder="$2"
	search_output=`curl -s --url "imaps://{{ mail_hostname }}:993/$search_folder" \
		--ssl-reqd \
		--user '{{ test_mail }}:{{ ldap_test_password }}' \
		--request "UID SEARCH SUBJECT \"$search_subject\"" \
		|| fail "Failed to check for mail in the folder $search_folder"`

	printf '%s' "$search_output" | cut -f3 -d' ' | tr -d '[:space:]'
}

cat > "$filename" <<EOF
From: "Test mail account" <{{ test_mail }}>
To: "Test mail account" <{{ test_mail }}>
Subject: $subject

Content of the test e-mail.
EOF

# Send mail
curl -s --url 'smtp://{{ mail_hostname }}:587' --ssl-reqd \
	--mail-from '{{ test_mail }}' \
	--mail-rcpt '{{ test_mail }}' \
	--user '{{ test_mail }}:{{ ldap_test_password }}' \
	--upload-file "$filename" \
	|| { rm "$filename"; fail "Failed to send mail"; }

rm "$filename"
echo 'Sent mail'
sleep 2

# Check if the mail was received
# List the folder contents
# curl --url 'imaps://{{ mail_hostname }}:993' --ssl-reqd --user '{{ test_mail }}:{{ ldap_test_password }}' --request 'EXAMINE INBOX'

# Check in inbox
folder="INBOX"
echo "Check for mail in $folder"
mail_id=`search_for_subject "$subject" "$folder"`

if [[ -z $mail_id ]]; then
	# Check in spam
	folder="Spam"
	echo "Check for mail in $folder"
	mail_id=`search_for_subject "$subject" "$folder"`

	if [[ -z $mail_id ]]; then
		fail 'Failed to receive mail'
	fi
fi
printf "Found mail %s in %s\n" "$mail_id" "$folder"

# Remove the mail
output=`curl -s --url "imaps://{{ mail_hostname }}:993/$folder" --ssl-reqd \
	--user '{{ test_mail }}:{{ ldap_test_password }}' \
	--request "UID STORE $mail_id +Flags \\Deleted" \
	|| fail "Failed to mark the mail deleted"`

if [[ -z $output ]]; then
	fail 'Failed to mark mail deleted (empty output)'
fi

echo 'Marked mail as deleted'

output=`curl -s --url "imaps://{{ mail_hostname }}:993/$folder" --ssl-reqd \
	--user '{{ test_mail }}:{{ ldap_test_password }}' \
	--request "UID EXPUNGE $mail_id" \
	|| fail "Failed to delete the mail"`

if [[ -z $output ]]; then
	fail 'Failed to delete the mail (empty output)'
fi

echo 'Deleted mail'
